:root {
  /*------------------------DARK-----------------------------------*/
  // New Colors
  // Neutral/Defaults
  --color-neutral-default-121212: #121212;
  --color-neutral-default-ffffff: #ffffff;
  --color-background-default-292929: #292929;
  --color-complementar: #1C1C1C;
  --color-default-menu-f1f3f4: #f1f3f4;
  --color-dk-hover-16-dp: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), #121212;
  --color-dk-hover-12-dp: linear-gradient(0deg, rgba(255, 255, 255, 0.14), rgba(255, 255, 255, 0.14)), #121212;
  --color-disabled-38: rgba(255, 255, 255, 0.38);
  --color-default-60: rgba(255, 255, 255, 0.6);

  // Gray DK
  --color-gray-50: #1C1C1C;
  --color-gray-100: #4D4D4D;
  --color-gray-200: #515151;
  --color-gray-300: #666666;
  --color-gray-400: #222222;
  --color-gray-500: #737373;
  --color-gray-600: #8C8C8C;
  --color-gray-700: #E0E0E0;
  --color-gray-800: #E5E5E5;
  --color-gray-900: #F4F4F4;
  --color-tertiary: #292929;
  --color-secondary: #161616;
  --color-background: #1F1F1F;


  // Primary
  --color-primary-50: #33302E;
  --color-primary-100: #665547;
  --color-primary-200: #7A5B41;
  --color-primary-300: #CC854B;
  --color-primary-400: #FB9039;
  --color-primary-500: #EE7613;
  --color-primary-600: #E87313;
  --color-primary-700: #B3580E;
  --color-primary-800: #9C4D0C;
  --color-primary-900: #6A360C;

  // Surface
  --color-surface-disabled-38-ffffff61: #ffffff61;
  --color-surface-medium-60-ffffff99: #ffffff99;
  --color-surface-high-87-ffffffde: #ffffffde;

  // Alert
  --color-alert-50-fefae7: #fefae7;
  --color-alert-100-fff2b2: #fff2b2;
  --color-alert-200-fce886: #fce886;
  --color-alert-300-ffe45e: #ffe45e;
  --color-alert-400-fbdb39: #fbdb39;
  --color-alert-500-eec600: #eec600;
  --color-alert-600-e8c100: #e8c100;
  --color-alert-700-b29500: #b29500;
  --color-alert-800-9c8200: #9c8200;
  --color-alert-900-6a5903: #6a5903;
  --color-alert-e87d00 : #e87d00;

  // Success
  --color-success-50-e7fef3: #e7fef3;
  --color-success-100-b2ffda: #b2ffda;
  --color-success-200-86fcc3: #86fcc3;
  --color-success-300-5effb1: #5effb1;
  --color-success-400-39fb9d: #39fb9d;
  --color-success-500-00ee7b: #00ee7b;
  --color-success-600-00e878: #00e878;
  --color-success-700-00b25c: #00b25c;
  --color-success-800-009c51: #009c51;
  --color-success-900-036a38: #036a38;

  // Error
  --color-error-50-fee7e7: #fee7e7;
  --color-error-100-ffb2b2: #ffb2b2;
  --color-error-200-fc8686: #fc8686;
  --color-error-300-ff5e5e: #ff5e5e;
  --color-error-400-fb3939: #fb3939;
  --color-error-500-ee0000: #ee0000;
  --color-error-600-e80000: #e80000;
  --color-error-700-b20000: #b20000;
  --color-error-800-9c0000: #9c0000;
  --color-error-900-6a0303: #6a0303;

  --color-default: var(--color-primary-500);

  --filter-default: invert(41%) sepia(22%) saturate(3312%) hue-rotate(349deg)
    brightness(99%) contrast(101%);
  --filter-default-dark: invert(18%) sepia(90%) saturate(2484%) hue-rotate(8deg)
    brightness(97%) contrast(103%);
  --filter-default-light: invert(89%) sepia(22%) saturate(813%) hue-rotate(1deg)
    brightness(105%) contrast(94%);

  --filter-0: invert(0%) sepia(15%) saturate(5965%) hue-rotate(6deg)
    brightness(110%) contrast(86%);
  --filter-1: invert(15%) sepia(1%) saturate(0%) hue-rotate(54deg)
    brightness(96%) contrast(96%);
  --filter-2: invert(19%) sepia(4%) saturate(2%) hue-rotate(314deg)
    brightness(99%) contrast(91%);
  --filter-3: invert(23%) sepia(0%) saturate(9%) hue-rotate(240deg)
    brightness(93%) contrast(82%);
  --filter-4: invert(51%) sepia(2%) saturate(0%) hue-rotate(149deg)
    brightness(104%) contrast(95%);
  --filter-5: invert(78%) sepia(0%) saturate(0%) hue-rotate(141deg)
    brightness(88%) contrast(91%);
  --filter-6: invert(74%) sepia(0%) saturate(46%) hue-rotate(219deg)
    brightness(105%) contrast(84%);
  --filter-7: invert(100%) sepia(59%) saturate(53%) hue-rotate(224deg)
    brightness(116%) contrast(87%);
  --filter-8: invert(100%) sepia(1%) saturate(3130%) hue-rotate(251deg)
    brightness(111%) contrast(94%);
  --filter-9: invert(100%) sepia(1%) saturate(64%) hue-rotate(239deg)
    brightness(115%) contrast(100%);
  --filter-10: invert(34%) sepia(10%) saturate(395%) hue-rotate(353deg)
    brightness(91%) contrast(82%);
  --filter-11: invert(49%) sepia(23%) saturate(7121%) hue-rotate(329deg)
    brightness(112%) contrast(126%);
  --filter-12: invert(48%) sepia(83%) saturate(6311%) hue-rotate(342deg)
    brightness(125%) contrast(132%);
  --filter-13: invert(52%) sepia(83%) saturate(824%) hue-rotate(51deg)
    brightness(95%) contrast(101%);
  --filter-14: invert(73%) sepia(35%) saturate(1610%) hue-rotate(359deg)
    brightness(101%) contrast(105%);
  --filter-15: invert(65%) sepia(58%) saturate(438%) hue-rotate(158deg)
    brightness(97%) contrast(90%);
  --filter-16: invert(50%) sepia(41%) saturate(0%) hue-rotate(134deg)
    brightness(130%) contrast(101%);
  --filter-607d8b: brightness(0) saturate(100%) invert(50%) sepia(30%) saturate(319%)
    hue-rotate(155deg) brightness(88%) contrast(92%);

  --filter-black: invert(0%) sepia(0%) saturate(7494%) hue-rotate(266deg)
    brightness(107%) contrast(100%);
  --filter-white: brightness(0) saturate(100%) invert(92%) sepia(93%)
    saturate(0%) hue-rotate(202deg) brightness(106%) contrast(106%);

  --color-icon-default: var(--filter-16);
  --color-icon: var(--filter-default);

  --color-text-default: var(--color-neutral-default-121212);
  --color-text-default-dark: var(--color-neutral-default-ffffff);
  --color-text-default-light: var(--color-neutral-default-121212);

  --filter-text-default: var(--filter-0);
  --filter-text-default-dark: var(--filter-9);
  --filter-text-default-light: var(--filter-0);

  --color-theme: var(--color-default);
  --color-text: var(--color-gray-900);

  --filter-theme: var(--filter-default);
  --filter-text: var(--filter-7);

  --color-danger: var(--color-error-600-e80000);
  --color-sucess: var(--color-success-600-00e878);
  --color-warning: var(--color-alert-600-e8c100);
  --color-info: var(--color-gray-600);

  --filter-danger: brightness(0) saturate(100%) invert(12%) sepia(81%)
    saturate(5594%) hue-rotate(360deg) brightness(96%) contrast(123%);
  --filter-sucess: brightness(0) saturate(100%) invert(61%) sepia(26%)
    saturate(3469%) hue-rotate(107deg) brightness(104%) contrast(106%);
  --filter-warning: brightness(0) saturate(100%) invert(71%) sepia(55%)
    saturate(2346%) hue-rotate(10deg) brightness(103%) contrast(103%);
  --filter-info: brightness(0) saturate(100%) invert(43%) sepia(12%)
    saturate(783%) hue-rotate(154deg) brightness(92%) contrast(91%);

  --color-text-default-outline: var(--color-neutral-default-ffffff);
  --color-code-theme: var(--color-gray-600);
  --color-table-striped-theme: var(--color-gray-600);
  --color-placeholder: var(--color-gray-600);

  --filter-text-default-outline: var(--filter-9);
  --filter-code-theme: var(--filter-10);
  --filter-table-striped-theme: var(--filter-10);
  --filter-placeholder: var(--filter-4);

  --background-color-theme: var(--color-background);
  --background-code-theme: var(--color-tertiary);
  --border-color-theme: var(--color-neutral-default-ffffff);

  // Buttons
  // Primary e Primary Disabled
  --background-color-button-primary: var(--color-primary-400);
  --background-color-button-primary-hover: var(--color-primary-500);
  --border-button-primary: .125rem solid var(--color-primary-400);
  --border-button-primary-hover: .125rem solid var(--color-primary-500);
  --color-text-button: var(--color-gray-500);
  --color-text-button-primary: var(--color-neutral-default-ffffff);
  --color-text-button-primary-hover: var(--color-primary-500);
  --background-color-button-primary-disabled: var(--color-gray-300);
  --border-button-primary-disabled: .125rem solid var(--color-gray-300);
  --box-shadow-button: 0rem .125rem .25rem rgba(0, 0, 0, 0.16);

  // Outline Primary e Outline Primary Disabled
  --background-color-button-outline-hover: var(--color-primary-500);
  --color-text-button-outline: var(--color-primary-400);
  --color-text-button-outline-hover: var(--color-primary-500);
  --border-button-outline: .125rem solid var(--color-primary-400);
  --border-button-primary-hover: .125rem solid var(--color-primary-500);
  --filter-fb9039: brightness(0) saturate(100%) invert(82%) sepia(35%)
    saturate(7351%) hue-rotate(335deg) brightness(106%) contrast(97%);
  --filter-90a4ae: invert(66%) sepia(17%) saturate(307%) hue-rotate(155deg)
    brightness(96%) contrast(83%);
  --filter-ee6b00: brightness(0) saturate(100%) invert(51%) sepia(85%)
    saturate(4390%) hue-rotate(12deg) brightness(103%) contrast(102%);

  // Secondary e Secondary Disabled
  --background-color-button-secondary: var(--color-gray-600);
  --border-button-secondary: .125rem solid var(--color-gray-600);
  --background-color-button-secondary-hover: var(--color-gray-700);
  --border-button-secondary-hover: .125rem solid var(--color-gray-700);

  // Outline Secondary e Outline Secondary Disabled
  --border-button-secondary-outline: .125rem solid var(--color-gray-600);
  --border-button-secondary-outline-hover: .125rem solid
    var(--color-gray-700);
  --color-text-button-secondary-outline: var(--color-gray-600);
  --color-text-button-secondary-outline-hover: var(--color-gray-700);

  // Outlined e Outlined Disabled
  --background-color-button-outlined-hover: var(--color-gray-50);
  --border-button-outlined: .063rem solid var(--color-gray-500);
  --border-button-outlined-hover: .125rem solid var(--color-gray-800);
  --border-button-outlined-disabled: .063rem solid var(--color-gray-300);
  --color-text-button-outlined: var(--color-gray-700);
  --color-text-button-outlined-hover: var(--color-gray-900);
  --color-text-button-outlined-disabled: var(--color-gray-300);

  // Ghost e Ghost Disabled
  --background-color-button-ghost: var(--color-default-menu-f1f3f4);
  --background-color-button-ghost-hover: var(--color-default-menu-f1f3f4);
  --color-text-button-ghost: var(--color-primary-500);
  --color-text-button-ghost-disabled: var(--color-gray-300);
  --color-text-button-ghost-secondary: var(--color-gray-700);
  --color-text-button-ghost-secondary-disabled: var(--color-gray-300);
  --filter-455a64: brightness(0) saturate(100%) invert(29%) sepia(5%)
    saturate(2254%) hue-rotate(155deg) brightness(104%) contrast(82%);

  // Direct e Direct Disabled
  --background-color-button-direct: var(--color-primary-50);
  --background-color-button-direct-hover: var(--color-primary-100);
  --background-color-button-direct-disabled: var(--color-gray-50);
  --border-button-direct: .063rem solid var(--color-primary-100);
  --border-button-direct-disabled: .063rem solid var(--color-gray-100);
  --color-text-button-direct: var(--color-primary-600);
  --color-text-button-direct-disabled: var(--color-gray-200);
  --filter-e86800: brightness(0) saturate(100%) invert(36%) sepia(87%)
    saturate(1128%) hue-rotate(4deg) brightness(102%) contrast(101%);

  // Tooltip
  --background-tooltip: var(--color-tertiary);
  --color-text-tooltip-title: var(--color-text);
  --color-text-tooltip-content: var(--color-text);
  --border-tooltip-separtor: .063rem solid var(--color-gray-50);
  --filter-546e7a: brightness(0) saturate(100%) invert(42%) sepia(7%)
    saturate(1396%) hue-rotate(154deg) brightness(95%) contrast(94%);

  // Label
  --color-label: var(--color-text);

  // Form disabled
  --background-input-disabled: var(--color-tertiary);
  --background-select-disabled: var(--color-dk-hover-12-dp);
  --background-textarea-disabled: var(--color-dk-hover-12-dp);
  --border-color-form-element-disabled: var(--color-gray-100);

  // Form default
  --background-input: var(--color-tertiary);
  --background-select: var(--color-dk-hover-12-dp);
  --border-color-form-element: var(--color-default-60);
  --border-bottom-color-input-required: var(--color-primary-600);
  --border-color-input--active: .125rem solid var(--color-primary-600);

  // Search input
  --background-input--search: var(--color-secondary);
  --border-color-input--search: var(--color-gray-100);
  --color-input--search--placeholder: var(--color-gray-200);
  --filter-input--search--icon: invert(30%) sepia(3%) saturate(7%) hue-rotate(340deg) brightness(95%) contrast(84%);

  // Checkbox
  --color-checkbox--selected: var(--color-primary-600);
  --color-checkbox-disabled--selected: var(--color-gray-300);
  --background-checkbox: transparent;
  --background-checkbox--selected: var(--color-primary-600);
  --background-checkbox-disabled--selected: var(--color-dk-hover-12-dp);
  --border-checkbox: .063rem solid var(--color-gray-300);
  --border-checkbox-disabled: .063rem solid var(--color-gray-600);
  --border-checkbox-disabled-selected: .063rem solid var(--color-gray-300);
  --border-checkbox-selected: .063rem solid var(--color-primary-600);

  // Radio Button
  --color-radio-button--selected: var(--color-primary-600);
  --color-radio-button-disabled--selected: var(--color-gray-300);
  --background-radio-button: transparent;
  --box-shadow-radio-button: inset 0rem 0rem 0rem .188rem
    var(--color-background);
  --border-radio-button: .063rem solid var(--color-gray-600);
  --border-radio-button-disabled: .063rem solid var(--color-gray-800);
  --border-color-radio-button-selected: var(--color-primary-600);
  --border-color-radio-button-disabled-selected: var(--color-gray-300);

  // Select
  --border-color-select-theme: var(--border-color-form-element);
  --border-color-select--active: var(--border-color-input--active);
  --background-select-head: var(--color-gray-800) 0% 0% no-repeat
    padding-box;
  --background-select-body: var(--color-gray-800) 0% 0% no-repeat
    padding-box;
  --background-select-body-hover: rgba(18, 18, 18, 0.4) 0% 0% no-repeat
    padding-box;

  // Textarea
  --background-textarea: var(--color-dk-hover-12-dp) 0% 0% no-repeat
    padding-box;

  // Card
  --color-theme--card: var(--color-neutral-default-ffffff);
  --background-color-theme--card: var(--color-tertiary);
  --background-color-theme--card-header: rgba(255, 255, 255, 0.1);
  --box-shadow-theme--card: 0rem .125rem .5rem rgba(0, 0, 0, 0.32);
  --border-color-theme--card-footer: rgba(0, 0, 0, 0.5);
  --border-bottom-header-card: .063rem solid var(--color-gray-600);

  // Table
  --color-text-table-header: var(--color-gray-900);
  --color-text-table-body: var(--color-gray-700);
  --color-table-striped: var(--color-neutral-default-ffffff);
  --border-color-table: var(--color-gray-600);

  --background-table-header: var(--color-gray-50);
  --background-table-even: var(--color-background);
  --background-table-odd: var(--color-tertiary);

  --background-table-hover: var(--color-dk-hover-16-dp);

  // Code
  --color-theme--code: var(--color-gray-600);

  // Pagination
  --color-pagination: var(--color-neutral-default-ffffff);
  --color-pagination-hover: var(--color-neutral-default-121212);
  --color-pagination-current: var(--color-neutral-default-ffffff);
  --color-pagination-current-hover: var(--color-neutral-default-121212);
  --background-color-pagination-current: var(--color-default);
  --border-color-pagination: .063rem solid var(--color-gray-500);
  --border-color-pagination-hover: .063rem solid var(--color-default);
  --background-color-pagination-current-hover: rgba(var(--color-default), 0.8);
  --filter-arrow-pagination: var(--filter-6);
  --filter-arrow-pagination--hover: var(--filter-5);

  // Scroll
  --box-shadow-scrollbar-track: rgba(255, 25, 0, 0.1);
  --box-shadow-scrollbar-thumb: rgba(0, 0, 0, 0.1);
  --background-color-scrollbar: #13100e;
  --background-color-scrollbar-thumb: var(--color-gray-200);

  // Layout
  --background-grid: var(--color-gray-900);
  --background-navbar: var(--color-gray-800);
  --border-default: .063rem solid var(--color-gray-700);

  --nav-menu-border: .063rem solid var(--color-gray-900);
  --nav-menu-box-shadow: 0rem 0rem .5rem var(--color-gray-900);
  --nav-menu-text-color-label: var(--color-gray-400);

  // Navbar
  --main-navbar-background: var(--color-gray-50);
  --main-navbar-box-shadow: 0rem .125rem .25rem rgba(0, 0, 0, 0.08);
  --main-navbar-menu-btn-background: var(--color-gray-700);
  --main-navbar-menu-btn-border: .063rem solid var(--color-gray-700);
  --main-navbar-menu-btn-filter: invert(29%) sepia(7%) saturate(18%) hue-rotate(328deg) brightness(98%) contrast(87%);

  // Footer
  --background-footer: var(--color-gray-50);
  --text-footer: var(--color-text);
  --divisor-footer: var(--color-gray-500);

  // Sidebar
  --main-sidebar-background: var(--color-gray-50);
  --main-sidebar-toggle-arrow-color: var(--color-gray-50);
  --main-sidebar-toggle-arrow-border-color: #6f5b51;
  --main-sidebar-submenu-background-color: var(--color-dk-hover-16-dp);
  --main-sidebar-submenu-span-color: #baa59b;
  --main-sidebar-submenu-background: var(--color-gray-50);
  --main-sidebar-submenu-background-hover: #13100e;
  --main-sidebar-menu-title-color: #d9cdc7;
  --main-sidebar-separator-color: #13100e;

  --main-sidebar-orange-filter: brightness(0) saturate(100%) invert(48%)
    sepia(76%) saturate(780%) hue-rotate(351deg) brightness(94%) contrast(100%);
  --main-sidebar-white-filter: brightness(0) saturate(100%) invert(99%)
    sepia(6%) saturate(2%) hue-rotate(51deg) brightness(114%) contrast(100%);
  --main-sidebar-orange-icon-filter: brightness(0) saturate(100%) invert(48%)
    sepia(76%) saturate(780%) hue-rotate(351deg) brightness(94%) contrast(100%);

  //CONTROL SIDEBAR
  --background-control-sidebar: var(--color-gray-900) 0% 0% no-repeat
    padding-box;
  --box-shadow-control-sidebar: 0rem .313rem .75rem rgba(0, 0, 0, 0.8);

  // Switch
  --background-switch: var(--color-gray-300);
  --background-switch-selected: var(--color-primary-400);
  --background-switch-disabled-selected: var(--color-gray-200);
  --color-switch-label: var(--color-gray-600);
  --background-switch-cicle: var(--color-neutral-default-ffffff);
  --background-switch-cicle-checked: var(--color-neutral-default-ffffff);

  // Switch Theme
  --background-switch-theme: var(--color-dk-hover-16-dp);
  --background-switch-theme-circle: var(--color-surface-medium-60-ffffff99);
  --border-switch-theme: .025rem solid transparent;

  // Copyright
  --color-copyright: var(--color-gray-800);
  --filter-copyright: invert(78%) sepia(0%) saturate(1180%) hue-rotate(223deg)
    brightness(88%) contrast(91%);

  // Tabs
  --border-tab: 0.063rem solid var(--color-gray-200);
  --background-tab: var(--color-tertiary);
  --color-tab: var(--color-gray-700);
  --background-tab-active: var(--color-primary-50);
  --border-tab-active: 0.125rem solid var(--color-primary-600);
  --color-tab-active: var(--color-primary-600);
  --background-tab-hover: var(--color-dk-hover-16-dp);


  // Not Found
  --background-color-notfound: var(--color-gray-900);

  // User Menu
  --border-color-user-menu: var(--color-gray-700);

  // Datepicker => Calendar
  --background-datepicker-calendar: var(--color-tertiary) 0% 0% no-repeat
    padding-box;
  --background-datepicker-calendar-hover: var(--color-gray-50) 0% 0%
    no-repeat padding-box;
  --border-datepicker-calendar: .063rem solid var(--color-neutral-default-121212);
  --border-radius-datepicker-calendar: .25rem;
  --filter-icon-datepicker-calendar: var(--filter-3);
  --filter-icon-datepicker-calendar-hover: var(--filter-5);

  // Autocomplete
  --box-shadow-autocomplete: 0 .125rem .25rem -0.063rem rgba(0, 0, 0, 0.2),
    0 .25rem .313rem 0 rgba(0, 0, 0, 0.14), 0 .063rem .625rem 0 rgba(0, 0, 0, 0.12);
  --background-autocomplete: var(--color-tertiary);
  --background-autocomplete-hover: var(--color-gray-100);

  // General - Others
  --background-color-presentation: var(--color-gray-900);
  --background-item--hover: var(--color-dk-hover-16-dp);

  /* ------------ PUSH NOTIFICATIONS ------------ */
  --background-push-notifications: var(--color-tertiary);
  --color-push-notifications: var(--color-text);
  --filter-close-icon-push-notitications: invert(100%);
  // Success
  --border-push-notifications-success: 0.0325rem solid var(--color-success-700-00b25c);
  --background-push-notifications-success: var(--color-tertiary);
  // Error
  --border-push-notifications-error: 0.0325rem solid var(--color-error-600-e80000);
  --background-push-notifications-error: var(--color-tertiary);
  // Warning
  --border-push-notifications-warning: 0.0325rem solid var(--color-alert-e87d00);
  --background-push-notifications-warning: var(--color-tertiary);
  // Info
  --border-push-notifications-info: 0.0325rem solid var(--color-primary-600);
  --background-push-notifications-info: var(--color-tertiary);
  /* -------------------------------------------- */

  // TreeSelect
  --background-color-selected-item: var(--color-gray-100);
  --filter-expand-icon: var(--filter-white);
  --background-item-hover: var(--color-gray-500);
  --color-text-hover: var(--color-background-default-fefefe);
  --filter-expand-icon-hover: var(--filter-white);
  --border-color-checkbox-hover: var(--color-background-default-fefefe);
  --background-selected-hover: #353535;

  /*------------TOOLTIP------------------*/
  --filter-tooltip-icon: var(--filter-default);
  --background-color-tooltip: #383838;
  --color-tooltip: var(--color-gray-700);
  --border-color-tooltip: var(--color-primary-400);
  --background-color-tooltip-error: var(--background-color-tooltip);

  /*------------CUSTOM TABS------------------*/
  --filter-icon-custom-tabs: invert(80%) sepia(97%) saturate(1002%) hue-rotate(1deg) brightness(99%) contrast(86%);

  /*------------HIGHLIGHT DATATABLES------------------*/
  --highlight-preco-color: #FB3939;
  --highlight-margem-color: #FBDB39;

  // Process

  --color-process-aguardando: #ee7f00;
  --color-process-producao: var(--color-success-700-00b25c);
  --color-process-conferencia: #29b6cc;
  --color-process-concluido: var(--color-gray-700);
  --color-process-armazenado: #2e53e5;
}
