.error__conteiner {
  position: relative;

  .error__message {
    font-size: 0.625rem;
    position: absolute;
    top: calc(100% + 0.188rem);
    left: 0.5rem;
    color: var(--border-bottom-color-input-required)
  }
}
