// Global element spacing for common elements (margin-bottom)

button {
  margin-bottom: 0.875rem;
}

fieldset,
select {
  margin-bottom: 1.4rem;
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 2.4rem;
}

li {
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0.25rem;
}
