<div class="card--container">
  <header class="card__header">
    <h2>Tooltips</h2>
  </header>

  <div class="div__separator"></div>

  <div class="card__body--container">
    <div class="card__body">
      <div class="tooltip--container">
        <div class="tooltip__arrow"></div>
        <div class="tooltip__title">
          <span>Configurações</span>
        </div>
        <div class="tooltip__separator"></div>
        <div class="tooltip__content">
          <span>Definições de conta</span>
          <span>Configurações</span>
          <span>Sair</span>
        </div>
      </div>
    </div>
  </div>
</div>
