<div class="card--container">
  <header class="card__header">
    <h2>Utilities</h2>
  </header>

  <div class="div__separator"></div>

  <div class="card__body--container">
    <div class="col sm-12">
      <p>
        O VRDesignGuide tem várias pequenas classes de utilidade que agem como
        ajudantes fáceis de usar. Às vezes é melhor use uma classe de utilitário
        do que crie uma nova classe inteira apenas para flutuar um elemento.
      </p>
    </div>
    <div class="col-sm-12">
      <pre>
            <code>
            /* Utility Classes */

            /* Make element full width */
            .u-full-width <span class="brackets">
              width: 100%;
              box-sizing: border-box;
            </span>

            /* Make sure elements don't run outside containers (great for images in columns) */
            .u-max-full-width <span class="brackets">
              max-width: 100%;
              box-sizing: border-box;
          </span>

            /* Float either direction */
            .u-pull-right <span class="brackets">
              float: right;
          </span>
            .u-pull-left  <span class="brackets">
              float: left;
          </span>

            /* Clear a float */
            .u-clearfix  <span class="brackets">
              content: "";
              display: table;
              clear: both;
          </span>
            </code>
          </pre>
    </div>
  </div>
</div>
