<div class="row">
  <div class="card col-md">
    <header class="card__header">
      <h3>Notify - Feedback de ações</h3>
    </header>
    <div class="card__content content">
      <vrc-tabs>
        <vrc-tab label="Documentação">
          <markdown
            src="./docs/components/vrc-push-notification.md"
            (load)="onLoad($event)"
            (error)="onError($event)"
          ></markdown>
        </vrc-tab>

        <vrc-tab label="Exemplo">
          <div class="row">
            <div class="col-sm-2">Ações com notificação estilo notify:</div>

            <button
              type="button"
              class="btn btn--success"
              (click)="onSuccessNotify()"
            >
              Success
            </button>

            <button
              type="button"
              class="btn btn--danger"
              (click)="onDangerNotify()"
            >
              Danger
            </button>

            <button
              type="button"
              class="btn btn--warning"
              (click)="onWarningNotify()"
            >
              Warning
            </button>

            <button
              type="button"
              class="btn btn--info"
              (click)="onInfoNotify()"
            >
              Info
            </button>
          </div>

          <div class="row">
            <div class="col-sm-2">Ações com notificação temporária:</div>

            <button
              type="button"
              class="btn btn--success"
              (click)="onSuccess()"
            >
              Success
            </button>

            <button type="button" class="btn btn--danger" (click)="onDanger()">
              Danger
            </button>

            <button
              type="button"
              class="btn btn--warning"
              (click)="onWarning()"
            >
              Warning
            </button>

            <button type="button" class="btn btn--info" (click)="onInfo()">
              Info
            </button>
          </div>

          <div class="row">
            <div class="col-sm-2">Ações com notificação fixa:</div>

            <button
              type="button"
              class="btn btn--success"
              (click)="onSuccess(0)"
            >
              Success
            </button>

            <button type="button" class="btn btn--danger" (click)="onDanger(0)">
              Danger
            </button>

            <button
              type="button"
              class="btn btn--warning"
              (click)="onWarning(0)"
            >
              Warning
            </button>

            <button type="button" class="btn btn--info" (click)="onInfo(0)">
              Info
            </button>
          </div>

          <div class="row clear-content">
            <div class="col-sm-2">Limpar todas as notificações:</div>

            <button
              type="button"
              class="btn btn--default"
              (click)="onClearAllNotifications()"
            >
              Clear All Notifications
            </button>
          </div>
        </vrc-tab>
      </vrc-tabs>
    </div>
  </div>
</div>
