<div class="card--container">
  <header class="card__header">
    <h2>Code</h2>
  </header>

  <div class="div__separator"></div>

  <div class="card__body--container">
    <div class="col-sm-12">
      <p>
        O estilo de código é mantido básico - apenas envolva qualquer coisa em
        <code>&lt;code&gt;</code>
        e ele aparecerá como
        <code>this</code>. Para blocos de código, envolva um
        <code>&lt;code&gt;</code> com um <code>&lt;pre&gt;</code>.
      </p>
    </div>

    <div class="col-sm-12">
      <pre>
            <code>.some-class <span class="brackets">background-color: red;</span></code>
        </pre>
    </div>
  </div>
</div>
