<div class="card--container">
  <header class="card__header">
    <h2>Buttons</h2>
  </header>

  <div class="div__separator"></div>

  <div class="card__body--container">
    <div class="card__title">
      <h2>Primary</h2>
    </div>

    <div class="card__body card__column">
      <div class="card__div--flex">
        <div>
          <h6>Primary</h6>
          <button class="btn btn--primary">
            <i class="vr vr-salvar"></i>
            <span>Salvar</span>
          </button>
        </div>
        <div>
          <h6>Disabled</h6>
          <button class="btn btn--primary btn--disabled">
            <i class="vr vr-salvar"></i>
            <span>Salvar</span>
          </button>
        </div>
      </div>

      <div class="card__div--flex">
        <div>
          <h6>Outline</h6>
          <button class="btn btn__outline--primary">
            <i class="vr vr-salvar"></i>
            <span>Salvar</span>
          </button>
        </div>
        <div>
          <h6>Outline Disabled</h6>
          <button class="btn btn__outline--primary btn--disabled">
            <i class="vr vr-salvar"></i>
            <span>Salvar</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card__body--container">
    <div class="card__title">
      <h2>Right Icon</h2>
    </div>

    <div class="card__body card__column">
      <div class="card__div--flex">
        <div>
          <h6>Primary</h6>
          <button class="btn btn--primary btn--right-icon">
            <span>Adicionar</span>
            <i class="vr vr-seta_direita"></i>
          </button>
        </div>
        <div>
          <h6>Disabled</h6>
          <button class="btn btn--primary btn--right-icon btn--disabled">
            <span>Adicionar</span>
            <i class="vr vr-seta_direita"></i>
          </button>
        </div>
      </div>

      <div class="card__div--flex">
        <div>
          <h6>Outline</h6>
          <button class="btn btn__outline--primary btn--right-icon">
            <span>Adicionar</span>
            <i class="vr vr-seta_direita"></i>
          </button>
        </div>
        <div>
          <h6>Outline Disabled</h6>
          <button
            class="btn btn__outline--primary btn--right-icon btn--disabled"
          >
            <span>Adicionar</span>
            <i class="vr vr-seta_direita"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card__body--container">
    <div class="card__title">
      <h2>Cancel</h2>
    </div>

    <div class="card__body card__column">
      <div class="card__div--flex">
        <div>
          <h6>Primary</h6>
          <button class="btn btn--secondary">
            <span>Cancelar</span>
          </button>
        </div>
        <div>
          <h6>Disabled</h6>
          <button class="btn btn--secondary btn--disabled">
            <span>Cancelar</span>
          </button>
        </div>
      </div>

      <div class="card__div--flex">
        <div>
          <h6>Outline</h6>
          <button class="btn btn__outline--secondary">
            <span>Cancelar</span>
          </button>
        </div>
        <div>
          <h6>Outline Disabled</h6>
          <button class="btn btn__outline--primary btn--disabled">
            <span>Cancelar</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card__body--container">
    <div class="card__title">
      <h2>Outlined</h2>
    </div>

    <div class="card__body card__column">
      <div class="card__div--flex">
        <div>
          <h6>Primary</h6>
          <button class="btn btn__outlined">
            <span>Salvar e continuar</span>
          </button>
        </div>
        <div>
          <h6>Secondary</h6>
          <button class="btn btn__outlined btn__outlined--secondary">
            <span>Salvar e continuar</span>
          </button>
        </div>
        <div>
          <h6>Disabled</h6>
          <button class="btn btn__outlined btn--disabled">
            <span>Salvar e continuar</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card__body--container">
    <div class="card__title">
      <h2>Ghost Primary</h2>
    </div>

    <div class="card__body card__column">
      <div class="card__div--flex">
        <div>
          <h6>Primary</h6>
          <button class="btn btn__ghost">
            <span>Salvar e continuar</span>
          </button>
        </div>
        <div>
          <h6>Variation</h6>
          <button class="btn btn__ghost btn__ghost--variation">
            <span>Salvar e continuar</span>
          </button>
        </div>
        <div>
          <h6>Disabled</h6>
          <button class="btn btn__ghost btn--disabled">
            <span>Salvar e continuar</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card__body--container">
    <div class="card__title">
      <h2>Ghost Secondary</h2>
    </div>

    <div class="card__body card__column">
      <div class="card__div--flex">
        <div>
          <h6>Primary</h6>
          <button class="btn btn__ghost--secondary">
            <i class="vr vr-editar"></i>
            <span>Editar</span>
          </button>
        </div>
        <div>
          <h6>Variation</h6>
          <button class="btn btn__ghost--secondary btn__ghost--variation">
            <i class="vr vr-editar"></i>
            <span>Editar</span>
          </button>
        </div>
        <div>
          <h6>Disabled</h6>
          <button class="btn btn__ghost--secondary btn--disabled">
            <i class="vr vr-editar"></i>
            <span>Editar</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card__body--container">
    <div class="card__title">
      <h2>Direct Other Page</h2>
    </div>

    <div class="card__body card__column">
      <div class="card__div--flex">
        <div>
          <h6>Primary</h6>
          <button class="btn btn__direct">
            <i class="vr vr-empresa"></i>
            <span>Cadastrar Empresa</span>
            <i class="vr vr-seta_direita"></i>
          </button>
        </div>
        <div>
          <h6>Disabled</h6>
          <button class="btn btn__direct btn--disabled">
            <i class="vr vr-empresa"></i>
            <span>Cadastrar Empresa</span>
            <i class="vr vr-seta_direita"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
