<div class="row">
  <div class="card col-md">
    <header class="card__header">
      <h3 class="title">Dialog modal</h3>
    </header>
    <div class="card__content content">
      <vrc-tabs>
        <vrc-tab label="Documentação">
          <markdown
            src="./docs/components/vrc-dialog-modal.md"
            (load)="onLoad($event)"
            (error)="onError($event)"
          >
          </markdown>
        </vrc-tab>

        <vrc-tab label="Exemplos">
          <button class="btn btn--default" (click)="showDialogModal()">
            Exibir Modal
          </button>

          <p>Retorno Modal: {{ returnDialogModal$ | async }}</p>
        </vrc-tab>
      </vrc-tabs>
    </div>
  </div>
</div>
