<div class="row">
  <div class="col-md-6">
    <h4>Selecione a moeda para exportar arquivos</h4>
    <vrc-select
      [data]="currencyTypes"
      [value]="currencySelected()"
      (update)="updateSelected($event)"
    >
    </vrc-select>
  </div>
</div>
<div class="dt-main">
  <vrc-datatable
    [rows]="rows"
    [summaryRow]="true"
    [summaryHeight]="2"
    [summaryPosition]="'bottom'"
    [summaryCurrency]="true"
    [columnMode]="ColumnMode.force"
    rowHeight="auto"
    [externalPaging]="true"
    [count]="page.totalElements"
    [selected]="selected"
    [selectionType]="SelectionType.checkbox"
    [selectAllRowsOnPage]="false"
    [displayCheck]="displayCheck"
    [fireEventButtons]="fireEventButtons"
    [fixedFireEventButtons]="true"
    [errorRows]="errorRows"
    (page)="setPage($event)"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (exportAll)="onExportAll($event)"
    [showMoveButton]="true"
    [storageKeyColumnPrintingPreference]="'checkboxKey'"
    [eventTrackingIdentifier]="'datatable_checkbox'"
  >
    <vrc-datatable-column
      [widthFixed]="true"
      [width]="3.75"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false"
      [headerCheckboxable]="true"
      [checkboxable]="true"
      [hideColumn]="false"
    >
    </vrc-datatable-column>
    <vrc-datatable-column
      dataType="id"
      [widthFixed]="true"
      [width]="5"
      [canAutoResize]="false"
      name="id"
      prop="id"
      [draggable]="false"
      [hideColumn]="false"
    ></vrc-datatable-column>
    <vrc-datatable-column name="Name"></vrc-datatable-column>
    <vrc-datatable-column name="Gender"></vrc-datatable-column>
    <vrc-datatable-column name="Company"></vrc-datatable-column>
    <vrc-datatable-column
      [widthFixed]="true"
      [width]="5"
      name="quantity"
      prop="quantity"
    ></vrc-datatable-column>
    <vrc-datatable-column
      [widthFixed]="true"
      [width]="5"
      name="money"
      prop="money"
      [summaryCurrency]="true"
      [currency]="currencyTotable()"
    ></vrc-datatable-column>
    <vrc-datatable-column
      [widthFixed]="true"
      [width]="5"
      name="currency"
      prop="currency"
      [currency]="currencyTotable()"
    ></vrc-datatable-column>
    <vrc-datatable-column
      [widthFixed]="true"
      [width]="5"
      name="currencyParaguai"
      prop="currencyParaguai"
      dataType="numerico"
      [currency]="currencyTotable()"
    ></vrc-datatable-column>
    <vrc-datatable-column
      [widthFixed]="true"
      [width]="5"
      name="discount"
      prop="discount"
      [currency]="currencyTotable()"
    ></vrc-datatable-column>
  </vrc-datatable>
</div>
