<div class="card--container">
  <header class="card__header">
    <h2>Lists</h2>
  </header>

  <div class="div__separator"></div>

  <div class="card__body--container">
    <div class="card__body">
      <div class="col-sm-6">
        <ul class="list">
          <li>Listas não ordenadas têm estilos básicos</li>
          <li>
            Eles usam o estilo da lista de círculos
            <ul>
              <li>Listas aninhadas estilizadas para se sentirem bem</li>
              <li>Pode aninhadas qualquer tipo de lista no outro</li>
            </ul>
          </li>
          <li>Apenas mais itens de lista</li>
        </ul>
      </div>

      <div class="col-sm-6">
        <ol class="list">
          <li>As listas ordenadas também têm estilos básicos</li>
          <li>
            Eles usam o estilo da lista decimal
            <ul>
              <li>Pedidos e não ordenados podem ser aninhados</li>
              <li>Pode aninhar qualquer tipo de lista no outro</li>
            </ul>
          </li>
          <li>Último item da lista apenas para diversão</li>
        </ol>
      </div>
    </div>

    <div class="card__body">
      <div class="col-sm-12">
        <section class="code-preview">
          <pre>
            <vr-code-mirror [value]=template></vr-code-mirror>
        </pre>
        </section>
      </div>
    </div>
  </div>
</div>
