<div class="container-home">
  <div class="title-home">
    <img ngSrc="icons/vr-ui-logo.svg" width="40" height="40" alt="Carregando..." priority />
    <h1>Bem-vindo ao VRAgentPdv</h1>
  </div>

  <div class="grid-home">
    <vr-card-home title="VRUI" buttonLink="vrui/doc">
      <p>
        VRUI é um monorepo Angular (>=18) para desenvolvimento e estilização de
        components reutilizáveis.
      </p>
    </vr-card-home>

    <vr-card-home title="VRDesignGuide" buttonLink="design-guide/doc">
      <p>Coleção de estilos SCSS padronizados para aplicações Angular.</p>
    </vr-card-home>

    <vr-card-home title="VRComponents" buttonLink="components/doc">
      <p>Biblioteca de componentes reutilizáveis para aplicações Angular.</p>
    </vr-card-home>

    <vr-card-home title="VRDatatables" buttonLink="datatables/doc">
      <p>
        É um componente Angular para apresentar dados grandes e complexos. Ele
        tem todos os recursos que você esperaria de qualquer outra tabela:
        filtra, classifica ou pagina.
      </p>
    </vr-card-home>

    <vr-card-home title="VRTable" buttonLink="table/doc">
      <p>
        É um componente Angular para apresentar dados mais simples. Ele tem o
        basico do VRDatatables para uso em paginas mais simples sem a
        necessidade de muitos recursos.
      </p>
    </vr-card-home>
  </div>
</div>