<div class="card--container">
  <header class="card__header">
    <h2>Paleta de Cores do Sistema</h2>
  </header>

  <div class="div__separator"></div>

  <div class="card__body--container">
    <div class="card__title">
      <h4>Neutral</h4>
    </div>

    <div class="card__body">
      <div class="color__box--container">
        <div class="color__box dark-121212"></div>
        <div class="color__box-text--container">
          <span>Dark</span>
          <span>#121212</span>
          <span>rgb(18, 18, 18)</span>
          <span>hsl(0, 0, 7)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box white-ffffff"></div>
        <div class="color__box-text--container">
          <span>White</span>
          <span>#FFFFFF</span>
          <span>rgb(255, 255, 255)</span>
          <span>hsl(0, 0, 100)</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card__body--container">
    <div class="card__title">
      <h4>Gray WT</h4>
    </div>

    <div class="card__body">
      <div class="color__box--container">
        <div class="color__box gray-ECEFF1"></div>
        <div class="color__box-text--container">
          <span>050</span>
          <span>#ECEFF1</span>
          <span>rgb(236, 239, 241)</span>
          <span>hsl(204, 15, 94)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box gray-CFD8DC"></div>
        <div class="color__box-text--container">
          <span>100</span>
          <span>#CFD8DC</span>
          <span>rgb(207, 216, 220)</span>
          <span>hsl(198, 16, 84)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box gray-B0BEC5"></div>
        <div class="color__box-text--container">
          <span>200</span>
          <span>#B0BEC5</span>
          <span>rgb(176, 190, 197)</span>
          <span>hsl(200, 15, 73)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box gray-90A4AE"></div>
        <div class="color__box-text--container">
          <span>300</span>
          <span>#90A4AE</span>
          <span>rgb(144, 164, 174)</span>
          <span>hsl(200, 16, 62)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box gray-78909C"></div>
        <div class="color__box-text--container">
          <span>400</span>
          <span>#78909C</span>
          <span>rgb(120, 144, 156)</span>
          <span>hsl(200, 15, 54)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box gray-607D8B"></div>
        <div class="color__box-text--container">
          <span>500</span>
          <span>#607D8B</span>
          <span>rgb(96, 125, 139)</span>
          <span>hsl(200, 18, 46)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box gray-546E7A"></div>
        <div class="color__box-text--container">
          <span>600</span>
          <span>#546E7A</span>
          <span>rgb(84, 110, 122)</span>
          <span>hsl(199, 18, 40)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box gray-455A64"></div>
        <div class="color__box-text--container">
          <span>700</span>
          <span>#455A64</span>
          <span>rgb(69, 90, 100)</span>
          <span>hsl(199, 18, 33)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box gray-37474F"></div>
        <div class="color__box-text--container">
          <span>800</span>
          <span>#37474F</span>
          <span>rgb(55, 71, 79)</span>
          <span>hsl(200, 18, 26)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box gray-263238"></div>
        <div class="color__box-text--container">
          <span>900</span>
          <span>#263238</span>
          <span>rgb(38, 50, 56)</span>
          <span>hsl(200, 19, 18)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box wt-background-FEFEFE"></div>
        <div class="color__box-text--container">
          <span>WT Background</span>
          <span>#FEFEFE</span>
          <span>rgb(254, 254, 254)</span>
          <span>hsl(0, 0, 100)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box complementary-E8EAED"></div>
        <div class="color__box-text--container">
          <span>Complementar</span>
          <span>#E8EAED</span>
          <span>rgb(232, 234, 237)</span>
          <span>hsl(216, 12, 92)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box wt-menu-F1F3F4"></div>
        <div class="color__box-text--container">
          <span>WT Menu</span>
          <span>#F1F3F4</span>
          <span>rgb(241, 243, 244)</span>
          <span>hsl(200, 12, 95)</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card__body--container">
    <div class="card__title">
      <h4>Primary WT</h4>
    </div>

    <div class="card__body">
      <div class="color__box--container">
        <div class="color__box primary-FEF1E7"></div>
        <div class="color__box-text--container">
          <span>50</span>
          <span>#FEF1E7</span>
          <span>rgb(254, 241, 231)</span>
          <span>hsl(26, 92, 95)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box primary-FFD5B2"></div>
        <div class="color__box-text--container">
          <span>100</span>
          <span>#FFD5B2</span>
          <span>rgb(255, 213, 178)</span>
          <span>hsl(27, 100, 85)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box primary-FCBB86"></div>
        <div class="color__box-text--container">
          <span>200</span>
          <span>#FCBB86</span>
          <span>rgb(252, 187, 134)</span>
          <span>hsl(27, 95, 76)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box primary-FFA65E"></div>
        <div class="color__box-text--container">
          <span>300</span>
          <span>#FFA65E</span>
          <span>rgb(255, 166, 94)</span>
          <span>hsl(27, 100, 68)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box primary-FB9039"></div>
        <div class="color__box-text--container">
          <span>400</span>
          <span>#FB9039</span>
          <span>rgb(251, 144, 57)</span>
          <span>hsl(27, 96, 60)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box primary-EE6B00"></div>
        <div class="color__box-text--container">
          <span>500</span>
          <span>#EE6B00</span>
          <span>rgb(238, 107, 0)</span>
          <span>hsl(27, 100, 47)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box primary-E86800"></div>
        <div class="color__box-text--container">
          <span>600</span>
          <span>#E86800</span>
          <span>rgb(232, 104, 0)</span>
          <span>hsl(27, 100, 45)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box primary-B35100"></div>
        <div class="color__box-text--container">
          <span>700</span>
          <span>#B35100</span>
          <span>rgb(179, 81, 0)</span>
          <span>hsl(27, 100, 35)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box primary-9C4600"></div>
        <div class="color__box-text--container">
          <span>800</span>
          <span>#9C4600</span>
          <span>rgb(156, 70, 0)</span>
          <span>hsl(27, 100, 31)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box primary-6A3103"></div>
        <div class="color__box-text--container">
          <span>800</span>
          <span>#6A3103</span>
          <span>rgb(106, 49, 3)</span>
          <span>hsl(27, 94, 21)</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card__body--container">
    <div class="card__title">
      <h4>Gray DK</h4>
    </div>

    <div class="card__body">
      <div class="color__box--container">
        <div class="color__box gray-1C1C1C"></div>
        <div class="color__box-text--container">
          <span>050</span>
          <span>#1C1C1C</span>
          <span>rgb(28, 28, 27)</span>
          <span>hsl(0, 0, 11)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box gray-4D4D4D"></div>
        <div class="color__box-text--container">
          <span>100</span>
          <span>#4D4D4D</span>
          <span>rgb(77, 77, 77)</span>
          <span>hsl(0, 0, 30)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box gray-515151"></div>
        <div class="color__box-text--container">
          <span>200</span>
          <span>#515151</span>
          <span>rgb(81, 81, 81)</span>
          <span>hsl(0, 0, 32)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box gray-666666"></div>
        <div class="color__box-text--container">
          <span>300</span>
          <span>#666666</span>
          <span>rgb(102, 102, 102)</span>
          <span>hsl(0, 0, 40)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box gray-222222"></div>
        <div class="color__box-text--container">
          <span>400</span>
          <span>#222222</span>
          <span>rgb(34, 34, 34)</span>
          <span>hsl(0, 0, 13)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box gray-737373"></div>
        <div class="color__box-text--container">
          <span>500</span>
          <span>#737373</span>
          <span>rgb(115, 115, 115)</span>
          <span>hsl(0, 0, 45)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box gray-8C8C8C"></div>
        <div class="color__box-text--container">
          <span>600</span>
          <span>#8C8C8C</span>
          <span>rgb(140, 140, 140)</span>
          <span>hsl(0, 0, 55)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box gray-E0E0E0"></div>
        <div class="color__box-text--container">
          <span>700</span>
          <span>#E0E0E0</span>
          <span>rgb(224, 224, 224)</span>
          <span>hsl(0, 0, 88)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box gray-E5E5E5"></div>
        <div class="color__box-text--container">
          <span>800</span>
          <span>#E5E5E5</span>
          <span>rgb(229, 229, 229)</span>
          <span>hsl(0, 0, 90)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box gray-F4F4F4"></div>
        <div class="color__box-text--container">
          <span>900</span>
          <span>#F4F4F4</span>
          <span>rgb(244, 244, 244)</span>
          <span>hsl(96, 96, 96)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box dk-background"></div>
        <div class="color__box-text--container">
          <span>DK Background</span>
          <span>#1F1F1F</span>
          <span>rgb(31, 31, 31)</span>
          <span>hsl(0, 0, 12)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box dk-secondary"></div>
        <div class="color__box-text--container">
          <span>DK Secondary</span>
          <span>#161616</span>
          <span>rgb(22, 22, 22)</span>
          <span>hsl(0, 0, 9)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box dk-tertiary"></div>
        <div class="color__box-text--container">
          <span>DK Tertiary</span>
          <span>#292929</span>
          <span>rgb(41, 41, 41)</span>
          <span>hsl(0, 0, 16)</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card__body--container">
    <div class="card__title">
      <h4>Primary DK</h4>
    </div>

    <div class="card__body">
      <div class="color__box--container">
        <div class="color__box primary-33302E"></div>
        <div class="color__box-text--container">
          <span>50</span>
          <span>#33302E</span>
          <span>rgb(51, 48, 46)</span>
          <span>hsl(24, 5, 19)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box primary-665547"></div>
        <div class="color__box-text--container">
          <span>100</span>
          <span>#665547</span>
          <span>rgb(102, 85, 71)</span>
          <span>hsl(27, 18, 34)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box primary-7A5B41"></div>
        <div class="color__box-text--container">
          <span>200</span>
          <span>#7A5B41</span>
          <span>rgb(122, 91, 65)</span>
          <span>hsl(27, 30, 37)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box primary-CC854B"></div>
        <div class="color__box-text--container">
          <span>300</span>
          <span>#CC854B</span>
          <span>rgb(204, 133, 75)</span>
          <span>hsl(27, 56, 55)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box primary-FB9039"></div>
        <div class="color__box-text--container">
          <span>400</span>
          <span>#FB9039</span>
          <span>rgb(251, 144, 57)</span>
          <span>hsl(27, 96, 60)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box primary-EE7613"></div>
        <div class="color__box-text--container">
          <span>500</span>
          <span>#EE7613</span>
          <span>rgb(238, 118, 19)</span>
          <span>hsl(27, 87, 50)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box primary-E87313"></div>
        <div class="color__box-text--container">
          <span>600</span>
          <span>#E87313</span>
          <span>rgb(232, 115, 19)</span>
          <span>hsl(27, 85, 49)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box primary-B3580E"></div>
        <div class="color__box-text--container">
          <span>700</span>
          <span>#B3580E</span>
          <span>rgb(179, 88, 14)</span>
          <span>hsl(27, 85, 38)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box primary-9C4D0C"></div>
        <div class="color__box-text--container">
          <span>800</span>
          <span>#9C4D0C</span>
          <span>rgb(156, 77, 12)</span>
          <span>hsl(27, 86, 33)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box primary-6A360C"></div>
        <div class="color__box-text--container">
          <span>800</span>
          <span>#6A360C</span>
          <span>rgb(106, 54, 12)</span>
          <span>hsl(27, 80, 23)</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card__body--container">
    <div class="card__title">
      <h4>Hover & Forms DK</h4>
    </div>

    <div class="card__body">
      <div class="color__box--container">
        <div class="color__box hover-dk-16-dp"></div>
        <div class="color__box-text--container">
          <span>Hover 16 DP</span>
          <span>#FFFFFF 15%</span>
          <span>Transparence</span>
          <span>#121212</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box hover-dk-12-dp"></div>
        <div class="color__box-text--container">
          <span>Hover 12 DP</span>
          <span>#FFFFFF 12%</span>
          <span>Transparence</span>
          <span>#121212</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box disabled-38"></div>
        <div class="color__box-text--container">
          <span>Disabled 38</span>
          <span>#FFFFFF38</span>
          <span>rgb(255, 255, 255, 0.38)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box default-60"></div>
        <div class="color__box-text--container">
          <span>Default 60</span>
          <span>#FFFFFF60</span>
          <span>rgb(255, 255, 255, 0.6)</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card__body--container">
    <div class="card__title">
      <h4>Alert</h4>
    </div>

    <div class="card__body">
      <div class="color__box--container">
        <div class="color__box alert-FEFAE7"></div>
        <div class="color__box-text--container">
          <span>50</span>
          <span>#FEFAE7</span>
          <span>rgb(254, 250, 231)</span>
          <span>hsl(50, 92, 95)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box alert-FFF2B2"></div>
        <div class="color__box-text--container">
          <span>100</span>
          <span>#FFF2B2</span>
          <span>rgb(255, 242, 178)</span>
          <span>hsl(50, 100, 85)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box alert-FCE886"></div>
        <div class="color__box-text--container">
          <span>200</span>
          <span>#FCE886</span>
          <span>rgb(252, 232, 134)</span>
          <span>hsl(50, 95, 76)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box alert-FFE45E"></div>
        <div class="color__box-text--container">
          <span>300</span>
          <span>#FFE45E</span>
          <span>rgb(255, 228, 94)</span>
          <span>hsl(50, 100, 68)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box alert-FBDB39"></div>
        <div class="color__box-text--container">
          <span>400</span>
          <span>#FBDB39</span>
          <span>rgb(251, 219, 57)</span>
          <span>hsl(50, 96, 60)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box alert-EEC600"></div>
        <div class="color__box-text--container">
          <span>500</span>
          <span>#EEC600</span>
          <span>rgb(238, 198, 0)</span>
          <span>hsl(50, 100, 47)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box alert-E8C100"></div>
        <div class="color__box-text--container">
          <span>600</span>
          <span>#E8C100</span>
          <span>rgb(232, 193, 0)</span>
          <span>hsl(50, 100, 45)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box alert-B29500"></div>
        <div class="color__box-text--container">
          <span>700</span>
          <span>#B29500</span>
          <span>rgb(178, 149, 0)</span>
          <span>hsl(50, 100, 35)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box alert-9C8200"></div>
        <div class="color__box-text--container">
          <span>800</span>
          <span>#9C8200</span>
          <span>rgb(156, 130, 0)</span>
          <span>hsl(50, 100, 31)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box alert-6A5903"></div>
        <div class="color__box-text--container">
          <span>900</span>
          <span>#6A5903</span>
          <span>rgb(106, 89, 3)</span>
          <span>hsl(50, 94, 21)</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card__body--container">
    <div class="card__title">
      <h4>Success</h4>
    </div>

    <div class="card__body">
      <div class="color__box--container">
        <div class="color__box success-E7FEF3"></div>
        <div class="color__box-text--container">
          <span>50</span>
          <span>#E7FEF3</span>
          <span>rgb(231, 254, 243)</span>
          <span>hsl(151, 92, 95)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box success-B2FFDA"></div>
        <div class="color__box-text--container">
          <span>100</span>
          <span>#B2FFDA</span>
          <span>rgb(178, 255, 218)</span>
          <span>hsl(151, 100, 85)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box success-86FCC3"></div>
        <div class="color__box-text--container">
          <span>200</span>
          <span>#86FCC3</span>
          <span>rgb(134, 252, 195)</span>
          <span>hsl(151, 95, 76)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box success-5EFFB1"></div>
        <div class="color__box-text--container">
          <span>300</span>
          <span>#5EFFB1</span>
          <span>rgb(94, 255, 177)</span>
          <span>hsl(151, 100, 68)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box success-39FB9D"></div>
        <div class="color__box-text--container">
          <span>400</span>
          <span>#39FB9D</span>
          <span>rgb(57, 251, 157)</span>
          <span>hsl(151, 96, 60)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box success-00EE7B"></div>
        <div class="color__box-text--container">
          <span>500</span>
          <span>#00EE7B</span>
          <span>rgb(0, 238, 123)</span>
          <span>hsl(151, 100, 47)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box success-00E878"></div>
        <div class="color__box-text--container">
          <span>600</span>
          <span>#00E878</span>
          <span>rgb(0, 232, 120)</span>
          <span>hsl(151, 100, 45)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box success-00B25C"></div>
        <div class="color__box-text--container">
          <span>700</span>
          <span>#00B25C</span>
          <span>rgb(0, 178, 92)</span>
          <span>hsl(151, 100, 35)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box success-009C51"></div>
        <div class="color__box-text--container">
          <span>800</span>
          <span>#009C51</span>
          <span>rgb(0, 156, 81)</span>
          <span>hsl(151, 100, 31)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box success-036A38"></div>
        <div class="color__box-text--container">
          <span>900</span>
          <span>#036A38</span>
          <span>rgb(3, 106, 56)</span>
          <span>hsl(151, 94, 21)</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card__body--container">
    <div class="card__title">
      <h4>Error</h4>
    </div>

    <div class="card__body">
      <div class="color__box--container">
        <div class="color__box error-FEE7E7"></div>
        <div class="color__box-text--container">
          <span>50</span>
          <span>#FEE7E7</span>
          <span>rgb(254, 231, 231)</span>
          <span>hsl(0, 92, 95)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box error-FFB2B2"></div>
        <div class="color__box-text--container">
          <span>100</span>
          <span>#FFB2B2</span>
          <span>rgb(255, 178, 178)</span>
          <span>hsl(0, 100, 85)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box error-FC8686"></div>
        <div class="color__box-text--container">
          <span>200</span>
          <span>#FC8686</span>
          <span>rgb(252, 134, 134)</span>
          <span>hsl(0, 95, 76)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box error-FF5E5E"></div>
        <div class="color__box-text--container">
          <span>300</span>
          <span>#FF5E5E</span>
          <span>rgb(255, 94, 94)</span>
          <span>hsl(0, 100, 68)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box error-FB3939"></div>
        <div class="color__box-text--container">
          <span>400</span>
          <span>#FB3939</span>
          <span>rgb(251, 57, 57)</span>
          <span>hsl(0, 96, 60)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box error-EE0000"></div>
        <div class="color__box-text--container">
          <span>500</span>
          <span>#EE0000</span>
          <span>rgb(238, 0, 0)</span>
          <span>hsl(0, 100, 47)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box error-E80000"></div>
        <div class="color__box-text--container">
          <span>600</span>
          <span>#E80000</span>
          <span>rgb(232, 0, 0)</span>
          <span>hsl(0, 100, 45)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box error-B20000"></div>
        <div class="color__box-text--container">
          <span>700</span>
          <span>#B20000</span>
          <span>rgb(178, 0, 0)</span>
          <span>hsl(0, 100, 35)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box error-9C0000"></div>
        <div class="color__box-text--container">
          <span>800</span>
          <span>#9C0000</span>
          <span>rgb(156, 0, 0)</span>
          <span>hsl(0, 100, 31)</span>
        </div>
      </div>
      <div class="color__box--container">
        <div class="color__box error-6A0303"></div>
        <div class="color__box-text--container">
          <span>900</span>
          <span>#6A0303</span>
          <span>rgb(106, 3, 3)</span>
          <span>hsl(0, 94, 21)</span>
        </div>
      </div>
    </div>
  </div>
</div>
