.server-scrolling {
  height: 500px;
}

::ng-deep .progress-linear {
  position: fixed !important;
  bottom: 0px;
}

.card--container {
  border-radius: 0.5rem;
}

.card--container {
  display: flex;
  margin: 1.5rem;
  flex-direction: column;
  border: var(--border-theme--card);
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  background-color: var(--background-color-theme--card);
  box-shadow: var(--box-shadow-theme--card);
}

select {
  margin-bottom: 0;
}
