<div class="card--container">
  <header class="card__header">
    <div>
      <h5>Font</h5>
      <h1>Roboto</h1>
    </div>
    <div class="card__font--container"><span>aA</span></div>
  </header>

  <div class="div__separator"></div>

  <div class="card__body--container">
    <div class="card__title">
      <h2>Headline</h2>
    </div>

    <div class="card__body">
      <div class="card__body--left">
        <span>H1</span>
        <span>Roboto Bold</span>
        <span>56px / 64px</span>
      </div>
      <div class="card__body--right">
        <h1>The quick brown fox jumps over the lazy dog.</h1>
      </div>
    </div>

    <div class="card__body">
      <div class="card__body--left">
        <span>H2</span>
        <span>Roboto Bold</span>
        <span>48px / 56px</span>
      </div>
      <div class="card__body--right">
        <h2>The quick brown fox jumps over the lazy dog.</h2>
      </div>
    </div>

    <div class="card__body">
      <div class="card__body--left">
        <span>H3</span>
        <span>Roboto Bold</span>
        <span>40px / 48px</span>
      </div>
      <div class="card__body--right">
        <h3>The quick brown fox jumps over the lazy dog.</h3>
      </div>
    </div>

    <div class="card__body">
      <div class="card__body--left">
        <span>H4</span>
        <span>Roboto Bold</span>
        <span>32px / 40px</span>
      </div>
      <div class="card__body--right">
        <h4>The quick brown fox jumps over the lazy dog.</h4>
      </div>
    </div>

    <div class="card__body">
      <div class="card__body--left">
        <span>H5</span>
        <span>Roboto Bold</span>
        <span>24px / 32px</span>
      </div>
      <div class="card__body--right">
        <h5>The quick brown fox jumps over the lazy dog.</h5>
      </div>
    </div>

    <div class="card__body">
      <div class="card__body--left">
        <span>H6</span>
        <span>Roboto Bold</span>
        <span>16px / 24px</span>
      </div>
      <div class="card__body--right">
        <h6>The quick brown fox jumps over the lazy dog.</h6>
      </div>
    </div>
  </div>

  <div class="card__body--container">
    <div class="card__title">
      <h2>Subtitle</h2>
    </div>

    <div class="card__body">
      <div class="card__body--left">
        <span>Normal</span>
        <span>Roboto Regular</span>
        <span>16px / 24px</span>
      </div>
      <div class="card__body--right">
        <span>The quick brown fox jumps over the lazy dog.</span>
      </div>
    </div>

    <div class="card__body">
      <div class="card__body--left">
        <span>Small</span>
        <span>Roboto Medium</span>
        <span>16px / 24px</span>
      </div>
      <div class="card__body--right">
        <small>The quick brown fox jumps over the lazy dog.</small>
      </div>
    </div>
  </div>

  <div class="card__body--container">
    <div class="card__title">
      <h2>Body</h2>
    </div>

    <div class="card__body">
      <div class="card__body--left">
        <span>Body Small</span>
        <span>Roboto Regular</span>
        <span>14px / 20px</span>
      </div>
      <div class="card__body--right">
        <span class="text--small"
          >The quick brown fox jumps over the lazy dog.</span
        >
      </div>
    </div>

    <div class="card__body">
      <div class="card__body--left">
        <span>Body Large</span>
        <span>Roboto Medium</span>
        <span>18px / 24px</span>
      </div>
      <div class="card__body--right">
        <span class="text--large"
          >The quick brown fox jumps over the lazy dog.</span
        >
      </div>
    </div>

    <div class="card__body">
      <div class="card__body--left">
        <span>Body</span>
        <span>Roboto Medium</span>
        <span>16px / 24px</span>
      </div>
      <div class="card__body--right">
        <span>The quick brown fox jumps over the lazy dog.</span>
      </div>
    </div>
  </div>

  <div class="card__body--container">
    <div class="card__title">
      <h2>Button</h2>
    </div>

    <div class="card__body">
      <div class="card__body--left">
        <span>Small</span>
        <span>Roboto Regular</span>
        <span>14px / 16px</span>
      </div>
      <div class="card__body--right">
        <span class="btn__text--small"
          >The quick brown fox jumps over the lazy dog.</span
        >
      </div>
    </div>

    <div class="card__body">
      <div class="card__body--left">
        <span>Large</span>
        <span>Roboto Medium</span>
        <span>18px / 24px</span>
      </div>
      <div class="card__body--right">
        <span class="btn__text--large"
          >The quick brown fox jumps over the lazy dog.</span
        >
      </div>
    </div>

    <div class="card__body">
      <div class="card__body--left">
        <span>Normal</span>
        <span>Roboto Medium</span>
        <span>16px / 20px</span>
      </div>
      <div class="card__body--right">
        <span class="btn__text--normal"
          >The quick brown fox jumps over the lazy dog.</span
        >
      </div>
    </div>
  </div>

  <div class="card__body--container">
    <div class="card__title">
      <h2>Caption</h2>
    </div>

    <div class="card__body">
      <div class="card__body--left">
        <span>Overline</span>
        <span>Roboto Regular</span>
        <span>8px / 12px</span>
      </div>
      <div class="card__body--right">
        <caption class="text--overline">
          The quick brown fox jumps over the lazy dog.
        </caption>
      </div>
    </div>

    <div class="card__body">
      <div class="card__body--left">
        <span>Normal</span>
        <span>Roboto Medium</span>
        <span>12px / 16px</span>
      </div>
      <div class="card__body--right">
        <caption>
          The quick brown fox jumps over the lazy dog.
        </caption>
      </div>
    </div>
  </div>
</div>
