<div class="card--container">
  <header class="card__header">
    <h2>Pagination</h2>
  </header>

  <div class="div__separator"></div>

  <div class="card__body--container">
    <div class="card__body card__column">
      <div class="col-sm-12">
        <p>
          O componente <a> paginação </a> fornece um estilo padrão para
          paginação que contém conteúdo longo e requer divisão de conteúdo em
          blocos mais curtos e fáceis de entender.
        </p>
      </div>
      <div class="col-xs-12">
        <nav aria-label="Page Navigation">
          <ul class="pager">
            <li><a>Anterior</a></li>
            <li class="pager--next">
              <i class="vr vr-divisa_esquerda"></i>
            </li>
            <li class="pager--current"><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
            <li><a>5</a></li>
            <li class="pager--prev">
              <i class="vr vr-divisa_direita"></i>
            </li>
            <li class="pager--hidden"><a>...</a></li>
            <li class="pager--higher-element"><a>99999</a></li>
            <li><a>Próximo</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-12">
        <section class="code-preview">
          <pre>
                            <vr-code-mirror [value]=template></vr-code-mirror>
                        </pre>
        </section>
      </div>
    </div>
  </div>
</div>
